body {
    margin: 0;
    padding: 0;
}

html, body, #mapid {
    height: 100vh;
    width: 100vw;
}

.display {
    color: #fff;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(20, 20, 20, 0);
    border-radius: 5px;
    text-align: left;
    max-width: 300px;
}

.display h4 {
    margin: 0 0 5px;
    color: #eeeeee;
    font-size: 4em;
    line-height: 1em;
}

.display h2 {
    margin: 0 0 5px;
    color: #eeeeee;
    font-size: 2.5em;
    line-height: 1em;
}

.info {
    max-width: 200px;
    color: #fff;
    padding: 6px 25px;
    font: 12px/17px Arial, Helvetica, sans-serif;
    text-align: left;
    background: rgba(0,0,0,0.7);
}

.gchart {
    max-width: 300px;
}

#gchart {
    max-width: 300px;
}

canvas.leaflet-heatmap-layer {
    z-index: 999;
    pointer-events: none;
}

div.leaflet-control {
    pointer-events: none;
}

div.leaflet-control-zoom {
    pointer-events: visiblePainted;
}

rect {
    pointer-events: visiblePainted;
}

defs#defs + g [x="0"] {
    fill: none;
}

